
<div class = "container">
  <form name="input" action="/notes/add" method="post">
  <textarea type="text" name="text" placeholder = "write your note here" cols = "40"></textarea>
  <input type="submit" value="Submit">
  </form>
</div>  