<div class="container">
  <h1>Welcome to CrudMagic</h1>
 
  
  <% @notes.each do |note|%>
    <div class = "note">
      <a href = "/notes/<%=note.id%>"><%=note.text%></a>
    </div>
  <%end%>
<a class = "add" href ="/notes/add"> Add a Note!</a>
</div>
    